html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #005f73, #e0aaff);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.about-section {
  margin-bottom: 40px;
}

.about-section h2 {
  color: #001456;
  margin-bottom: 20px;
  text-align: left;
}

.about-entry {
  margin-bottom: 20px;
}

.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-entry h3 {
  margin: 0;
  color: #F0F0F0; /* Adjust the color to fit your design */
}

.entry-date {
  margin-left: auto;
  color: #F0F0F0; /* Adjust the color to fit your design */
}

.entry-details {
  margin-top: 10px; /* Adds space between the header and details */
}

.institution-logo {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: auto;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-category {
  flex: 1;
  min-width: 200px; /* Minimum width for skill categories */
}

.skill-category h3 {
  color: #F0F0F0;
}

.skill-category ul {
  list-style-type: none;
  padding: 0;
}

.skill-category li {
  margin-bottom: 5px;
  color: #F0F0F0; /* Adjust the color to fit your design */
}

@media (max-width: 768px) {
  .entry-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .entry-date {
    margin-top: 5px;
    margin-left: 0;
    align-self: flex-start;
  }

  .skills-content {
    flex-direction: column;
  }
}
