/* About.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #005f73, #e0aaff);
}

.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: #f0f0f0;
  position: relative;
  transition: opacity 0.5s ease-out;
  padding-top: 80px; /* Adjust based on navbar height */
  opacity: 0;
}

.about-container-active {
  opacity: 1;
}

.section-title {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.about-intro {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.2em; /* Slightly larger font size */
  line-height: 1.6; /* Improved line spacing for readability */
  color: #ffffff; /* Ensuring high contrast for readability */
  max-width: 80%; /* Optimized width */
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background for text */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for the text background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  padding-top: -10px;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.education-column, .experience-column {
  width: 48%; /* Adjust width as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-entry {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date {
  font-weight: bold;
  color: #e0aaff;
  margin-bottom: 10px;
}

.description {
  color: #ffffff;
  text-align: left;
}

.institution-logo {
  width: 80px; /* Adjust as needed */
  height: auto;
  margin-top: 10px;
}

.skills-section {
  margin-top: 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 2rem;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-category {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 30%; /* Adjust as needed */
}

.skill-category h3 {
  color: #e0aaff;
  margin-bottom: 10px;
}

.skill-category ul {
  list-style-type: none;
  padding: 0;
}

.skill-category li {
  color: #ffffff;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .education-column, .experience-column {
    width: 80%; /* Adjust for mobile */
  }
}

@media (max-width: 768px) {
  .education-column, .experience-column {
    width: 90%; /* Adjust for smaller mobile devices */
  }
  .skills-content {
    flex-direction: column;
    align-items: center;
  }

  .skill-category {
    width: 80%;
  }
}

